body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff url("../static/bg.jpg") repeat-x;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
p{
  font-size: 18px;
  margin: 0px
}
#loading {
  position: fixed;      /* чтобы закрепить поверх всего */
  inset: 0;             /* top:0; right:0; bottom:0; left:0; */
  width: 100%;          /* занимает всю ширину */
  height: 100%;         /* занимает всю высоту */
  background: black;    /* фон overlay */
  color: white;         /* цвет текста */
  display: flex;        /* чтобы центрировать контент */
  justify-content: center;
  align-items: center;
  z-index: 10000;       /* поверх всех элементов */
}
button{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background: white;
  font-size: 15px;
}
#gameContainer {
  width: 100%;
  height: 100%;
}

#game {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#player {
  display: flex;
  position: absolute;
  bottom: 40%;
  margin-left: 15%;
  width: 5px;
  height: 30%;
  /*border: red solid 2px;*/
  justify-content: center;
  align-items: center;
}

#player img {
  height: 100%;
}

.jump {
  animation: jump 1s ease;
}

@keyframes jump {
  0% { bottom: 40%; }
  50% { bottom: 80%; }
  100% { bottom: 40%; }
}

.obstacle {
  position: absolute;
  bottom: 40%;
  right: -100px;
  height: 60px;
  animation: moveObstacle 2s linear forwards;
  /*border: red solid 2px;*/
}

.obstacle img {
  height: 100%;
}

@keyframes moveObstacle {
  from { right: -100px; }
  to { right: 110vw; }
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  background: rgba(0,0,0,0.5);
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  display: none;
  background: rgba(0,0,0,0.8);
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restartBtn {
  margin-top: 10px;
  padding: 8px 15px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

#rotateOverlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-size: 20px;
  z-index: 9999;
  text-align: center;
  padding: 20px;
}
#progressBar {
  width: 80%;
  height: 20px;
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin-top: 20px;
}
#progress {
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
/* Загрузочный экран */
#loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255); /* тёмный фон */
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  z-index: 100; /* поверх всего */
  padding: 20px;
}

/* Кнопка начать игру на загрузочном экране */
#startBtn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background 0.3s;
}

#startBtn:hover {
  background-color: gray;
}
.picture{
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
}
.gift{
  display: flex;
  flex-direction: column;
}
.pictures{
  display: flex;
  gap: 10px;
  justify-content: center;
}


